extends layout

block content
  h1 pdf2emails
  form(name='upload', action='/upload', method='post', enctype="multipart/form-data")
    input(type='file', name='input_file')
    div(style='clear: both; height: 10px')
    button(type='submit') Upload & extract